.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--pacific-line-color);
    color: var(--stepping-stone-color);;
    text-align: center;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}