/* Effects background */
div {
    /* background-color: var(--rough-stone-color); */
    background-color:var(--stepping-stone-color);
    /* height: 80vh */
}

.nav {
    background-color: var(--pacific-line-color);
    padding: 1.5rem;
}

.nav-item a {
    color: var(--stepping-stone-color);
}

.nav-item a:hover {
    color: var(--wheatField-color);
}

/*Color after link is clicked */
.nav-item a:focus {
    color: var(--neutral-valley-color);
}

/*Color after link is clicked and user click on other elements of the page */
.nav-link.active {
    color: var(--neutral-valley-color);
}

