/* Effects background */
div {
    background-color:var(--stepping-stone-color);
}

.nav {
    background-color: var(--pacific-line-color);
    padding: 1.5rem;
    justify-content: end;
}

.nav-item a {
    color: var(--stepping-stone-color);
}

.nav-item a:hover {
    color: var(--wheatField-color);
}

/*Color after link is clicked */
.nav-item a:focus {
    color: var(--neutral-valley-color);
}

/*Color after link is clicked and user click on other elements of the page */
.nav-link.active {
    color: var(--neutral-valley-color);
}

@media (380px <= width <= 750px) {
    .nav {
        justify-content: center;
        
    }
}

/* Where the website breaks */
@media (max-width: 459px) {
    div {
        visibility: hidden;
    }
}