/* control scroll length of page */
.portfolioPage{
    height: 120vh;
}

.portfolioTitle{
    margin: 50px 5px;
}

.projectParentContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectChildContainer {
    margin: 0px 2rem 8rem;
    background-color: var(--pacific-line-color);
    height: 350px;
    width: 400px;
}

.projectTitle {
    color: var(--wheatField-color);
    padding: 0.5rem;
    text-align: center;
}

.projectImages{
    height: 300px ;
    width: 400px;
}

.projectLinkSection{
    height: 100px;
    background-color: var(--pacific-line-color);
    display: flex;
}

.projectLinkSection a {
    width: 100%;
}

button {
    height: 100%;
    width: 100%;
}

.deployableButton{
    background-image: linear-gradient(200deg, rgba(158,162,173,1) 0%, rgba(43,50,65,1) 88%);
    text-decoration: none;
    color: var(--wheatField-color);
}

.gitHubButton{
    background-image: linear-gradient(200deg, rgba(158,162,173,1) 0%, rgba(43,50,65,1) 88%);
    text-decoration: none;
    color: var(--wheatField-color);
}

/* hover effect over buttons */
.projectLinkSection :hover{
    background-image: linear-gradient(200deg, rgba(139,105,77,1) 20%, rgba(232,226,208,1) 76%);
    color: var(--pacific-line-color);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

@media (460px <= width <= 750px) {
    .projectParentContainer {
        justify-content: center;
    }
}



