.projectParentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectChildContainer {
    margin-bottom: 100px;
    background-color: black;
}

.projectTitle {
    color: antiquewhite;
}

.projectImages{
    height: 500px ;
    width: 550px;
}

.projectLinkSection{
    height: 100px;
    background-color: black;
    display: flex;
}

.projectLinkSection a {
    height: 100%;
    width: 100%;
    
}
button {
    height: 100%;
    width: 100%;
    
}

.deployableButton{
    background-color: yellow;
}

.deployableButton a {
    text-decoration: none;
    color: black;
}

.gitHubButton{
    background-color: blueviolet;
}

.gitHubButton a {
    text-decoration: none;
    color: black;
}