.resumePage{
    height: 180vh;
}

.skill-card-container{
    margin: 5%;
    display: flex;
    border-bottom: 5px solid var(--pacific-line-color);
    padding: 80px
}
.skills-card {
    width: 40%;
    height: 40%;
    margin: 10px;
    border: 2px solid var(--pacific-line-color);
}

.skills-card-header {
    height: 20%;
    background-color: var(--pacific-line-color);
    color: var(--rough-stone-color);
}

.skills-card-list-item{
    height: 80%;
    background-color: var(--rough-stone-color);
    color: var(--wheatField-color);
    border-bottom: 1px solid var(--pacific-line-color);
}

.resume-button {
    height:10%;
    width: 40%;
    display: block;
    margin: auto;
    color: var(--wheatField-color);
    background-image: linear-gradient(200deg, rgba(158,162,173,1) 0%, rgba(43,50,65,1) 88%);
    border: 3px solid var(--pacific-line-color);
    padding: 10px;
}

.resume-link :hover {
    background-image: linear-gradient(200deg, rgba(139,105,77,1) 20%, rgba(232,226,208,1) 76%);
    color: var(--pacific-line-color);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.resume-link {
    text-decoration: none;
}

iframe {
    height: 50%;
    width: 50%;
    margin-left: 25%
}

@media (350px <= width <= 750px) {
    .resumePage{
        height: 200vh;
    }
    .skill-card-container {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .skills-card {
        width: 60vw;
        
    }
    iframe{
        height: 26.5%;
        width: 80%;
        margin-left: 11%;
        align-items: center;
    }
}